{% extends 'base.html' %}
{% block title %}Register{% endblock %}
{% block content %}
  <h2>Register</h2>
  <form method="POST">
    <!-- {{ form.hidden_tag() }} -->
    {{ form.username.label }} {{ form.username() }}<br>
    {{ form.email_id.label }} {{ form.email_id() }}<br>
    {{ form.password.label }} {{ form.password() }}<br>
    {{ form.confirm_password.label }} {{ form.confirm_password() }}<br>
    {{ form.submit() }}
  </form>
  <a href="{{ url_for('auth.login') }}">Already have an account? Login</a>
{% endblock %}